
@font-face {
    font-family: "Title";
    src: url("fonts/didactgothic-regular-webfont.woff") format("woff")
    }

.bg_color {
    background-color:#3886c2;
}

.navbar_bg_color{
  
    background-color: #00336e;
}

.navbar_footer_bg_color{
    background-image: linear-gradient(to bottom, #662483 74%, #2f90a9 100%); 
    /* background-color: #2f90a9; */
}

  /* Create a sticky/fixed navbar */
  #navbar-mobile {
    overflow: hidden;
    background-color: #00336e;
    padding: 50px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.6s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    justify-content:center;
    text-align: center;
    border-bottom: 5px solid #ad8630;
    border-left: 0px #ad8630;

  }
  
  /* Style the logo */
  #navbar-mobile #logo-mobile {
    font-size: 35px;
    height: 200px;
    font-weight: bold;
    transition: 0.4s;
    position: relative;
  }


  
.space{
  padding-top: 250px;
}


  /* Create a sticky/fixed navbar */
  #navbar {
    overflow: hidden;
    background-color: #00336e;
    padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    justify-content:center;
    text-align: center;
    border-bottom: 5px solid #ad8630;
  }
  
  /* Style the logo */
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
    font-size: 35px;
    height: 200px;
    font-weight: bold;
    transition: 0.4s;
    position: relative;
  }






.logo_img{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
}

.title_text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
}

.title-font{
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
    margin-top: 10px;
}

.chapter-text{
    text-align: center;
    margin-top: 100px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: #ebb43f;
}

.simple_text{
    text-align: left;
    margin-top: 30px;
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
    padding-right: 15px;
}

.credits_text{
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ad8630;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  

.navbar-header{
    width:100%;
  }
  
.navbar-logo{
    display: block;
    justify-content:center;
    align-items:center;
    height:50px;
    width:100%;
  }

.navbar-brand{
    justify-content:center;
    width:100%;
    }      

.footer-settings{
    background-color: #00336e;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    border-top: 5px solid #ad8630;
}

.footer-inner{
    padding-right: 5px;
}

.footer-image{
    height: 50px;
    margin-top: -10px;
}

  div.scrollmenu {
    background-color: #de69a6;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    height: 900%;
  }::-webkit-scrollbar {
    width: 0px;
}
  
  div.scrollmenu img {
    display: inline-block;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    position: static;
  }





.champion-badge {
    border-radius: 0px 0px 50px 50px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	background: rgba(255, 177, 66, 0.1);
	box-shadow: 0 0 0 0 goldenrod;
    animation: pulse-yellow 2s infinite;
    
}

.champion-circle {
    border-radius: 70%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	background: rgba(255, 177, 66, 0.1);
	box-shadow: 0 0 0 0 goldenrod;
    animation: pulse-yellow 2s infinite;
    
}

@keyframes pulse-yellow {
	0% {
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
	}
	70% {
		box-shadow: 0 0 0 15px rgba(255, 177, 66, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
	}
}
